@green: #d1b152;

.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron{
    background-color: green;
    color: black; 	
    .margenes(10px, 0px);
}
footer{
	color: yellow;
	padding: 10px 10px 0 10px;
	background-color: green;
	.margenes(0px, 20px);
}

.card-hotel{
	flex: 1 200px;
	

}
.carousel-inner{
 width: 1024px; 
 height: 524px; 
 padding-left: 70px;
}

.btn-reserva{
width: 150px;
margin-bottom: 0px;
}
.footer-address-icon{
padding-right: 10px;
padding-bottom: 10px;

}

img-fluid{
display:block;
margin:auto;
}

p.centrado {
  text-align: center;
}

.mx-auto d-block{
max-width: 100%;
height: auto;
}
.tab-content{
padding-top: 10px;
}

img{
padding-top: 20px
}